<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>



    <div class="box-login">
      <h3>Login</h3>

      <form (submit)="login()">
        <div class="input">
          <input [(ngModel)]="userLogin.username" type="text" name="username" placeholder="User name">
        </div>
        <div class="input">
          <input [(ngModel)]="userLogin.password" [type]="typePassword" name="password" placeholder="Pass word">
        </div>
        <div class="checkbox">
          <input (change)="hehe()" type="checkbox" name="showpass"> Show password
        </div>
        <button type="submit" class="but">SIGN IN</button>
      </form>
      <table class="table">
        <thead>
          <tr>
            <th>User name</th>
            <th>Pass word</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let u of users">
            <td>{{u.username}}</td>
            <td>{{u.password}}</td>
          </tr>
        </tbody>
      </table>
    </div>




</body>
</html>
