img{
  max-width: 100%;
}


.blue {
  background-color: blue;
  // hiệu ứng chuyển cảnh
  transition: background-color 0.5s ease;
}
.red {
  background-color: red;
  transition: background-color 0.5s ease;
}
