<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Danh sách sản phẩm</h1>
  <table class="table">
    <thead>
      <th>id</th>
      <th>name</th>
      <th>Create At</th>
      <th>Action</th>
    </thead>
    <tbody>
      <tr class="ho" *ngFor="let p of product" (click)="detai(p.id)">
        <td>{{p.id}}</td>
        <td>{{p.productname}}</td>
        <td>{{p.createat}}</td>
        <td>
          <button (click)="detai(p.id)">Detail</button>
        </td>
      </tr>
    </tbody>
  </table>

  <div *ngIf="this.productDetail.length > 0">
    <h1>Danh sách sản phẩm chi tiết của {{productIselected.productname}}</h1>
    <h1>Danh sách sản phẩm</h1>
  <table class="table bordered">
    <thead>
      <th>id</th>
      <th>Price</th>
      <th>Color</th>
      <th>Size</th>
      <th>Action</th>
    </thead>
    <tbody>
      <tr *ngFor="let pd of productDetail">
        <td>{{pd.id}}</td>
        <td>{{pd.price | currency: 'VND'}}</td>
        <td>{{pd.color}}</td>
        <td>{{pd.size}}</td>
        <td><button (click)="clickChange(pd.id)" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
          Launch
        </button></td>
      </tr>
    </tbody>
  </table>

  </div>
<!-- Button trigger modal -->


<!-- Modal -->
<div *ngIf="productDetailIsSelected" class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="">
          <label for="">Id</label>
          <input [(ngModel)]="productDetailIsSelected.id" type="text" name="id">
          <br>
          <label for="">Price</label>
          <input [(ngModel)]="productDetailIsSelected.price" type="text" name="price">
          <br>
          <label for="">Color</label>
          <input [(ngModel)]="productDetailIsSelected.color" type="text" name="color">
          <br>
          <label for="">Size</label>
          <input [(ngModel)]="productDetailIsSelected.size" type="text" name="size">
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
</body>
</html>
